:root {
    --light: #e8e8e8;
    --dark: #424242;
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* header */

header {
    height: 64px;
    padding: 0 1.5rem;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .5rem;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 1.5rem;
    color: var(--dark);
}

.logo .logo-academy {
    font-weight: normal;
    opacity: .5;
}

.logo img {
    height: 50px;
}

/* hero section */

section#hero {
    display: flex;
    align-items: center;
}

img.hero-image {
    width: 60%;
    padding: 2rem 1.5rem;
}

.hero-text {
    width: 30%;
}

/* course section */

.course-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.course-gallery figure {
    background-color: white;
    width: 25%;
}

.course-gallery figure img {
    width: 100%
}

.course-gallery figcaption {
    padding: 16px;
}

/******** common ********/

.centered-header {
    text-align: center;
    padding: 2rem 0 0 0;
    margin: 0;
}

.container-sxs {
    display: flex;
}

.section-grey {
    background-color: var(--light);
}

.container-60 {
    width: 60%;
    padding: 2rem 1.5rem;
}

.container-60 img,video {
    width: 100%;
}

.container-40 {
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 40%;
    padding-top: 1rem;
    border-left: var(--light) solid 1px;
}

/* h8l card */

.h8l-card {
    display: flex;
    border-bottom: var(--light) solid 1px;
}

.h8l-card:hover {
   background-color: var(--light); 
}

.h8l-card img {
    width: 35%;
    padding: 1rem;
}

.h8l-card-text {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 250px;
}

.h8l-card-text h3 {
    margin: 0;
}

.h8l-card-text p {
    margin: .6rem 0;
}

/* button */

a.button {
    background-color: var(--dark);
    color: var(--light);
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    text-align: center;
}

a.button:hover{
    opacity: .90;
}

/* text */

h1,h2,h3,h4,h5,p,figcaption {
    color: var(--dark);
}