:root {
    --light: #e8e8e8;
    --dark: #424242;
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* hero section */

section#hero {
    display: flex;
    align-items: center;
}

img.hero-image {
    width: 60%;
    padding: 2rem 1.5rem;
}

.hero-text {
    width: 30%;
}

/* course section */

.course-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.course-gallery figure {
    background-color: white;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 4%;
}

.course-gallery figure img {
    width: 100%
}

.course-gallery figcaption {
    padding: 16px;
}

/* course section */
#thesis .container-40 {
    border-left:  0px;
}

/******** common ********/

.centered-header {
    text-align: center;
    padding: 2rem 0 0 0;
    margin: 0;
}

.container-sxs {
    display: flex;
}

.section-grey {
    background-color: var(--light);
}

.container-60 {
    width: 60%;
    padding: 2rem 1.5rem;
}

.container-60 img,video {
    width: 100%;
}

.container-40 {
    display: flex;
    flex-flow: column;
    align-items: start;
    width: 40%;
    padding-top: 1rem;
    border-left: var(--light) solid 1px;
}

/* h8l card */

.h8l-card {
    display: flex;
    border-bottom: var(--light) solid 1px;
}

.h8l-card:hover {
   background-color: var(--light); 
}

.h8l-card img {
    width: 35%;
    padding: 1rem;
}

.h8l-card-text {
    width: 65%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 250px;
}

.h8l-card-text h3 {
    margin: 0;
}

.h8l-card-text p {
    margin: .6rem 0;
}

/* button */

a.button {
    background-color: var(--dark);
    color: var(--light);
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: block;
    text-align: center;
}

a.button:hover{
    opacity: .90;
}

/* text */

h1,h2,h3,h4,h5,p,figcaption,footer,a {
    color: var(--dark);
}

/* footer */

footer {
    border-top: var(--light) solid 1px;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

/* desktop view */
@media screen and (min-width: 731px) {
    /* header */
    header {
        height: 64px;
        padding: 0 1.5rem;
        position: relative;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-flow: row;
    }

    nav a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 1rem;
        padding: .5rem;
    }

    .logo {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        line-height: 2rem;
        font-size: 1.5rem;
        color: var(--dark);
    }

    .logo .logo-academy {
        font-weight: normal;
        opacity: .5;
    }

    .logo img {
        height: 50px;
    }

    .mobile-nav {
        display: none;
    }
}

/* mobile view */
@media screen and (max-width: 730px) {
    .desktop-nav {
        display: none;
    }

    header.mobile-nav {
        display: block;
    }

    .mobile-nav nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-nav img {
        height: 3rem;
    }

    section#hero {
        flex-flow: column;
    }

    img.hero-image {
        width: 100%;
        padding: 0;
    }

    .hero-text {
        width: 80%;
        padding-bottom: 2rem;
    }

    .container-60 {
        display: none;
    }

    .container-40 {
        width: 100%;


        grid-template-areas: "header header"
                             "nav    nav" 
                             "info   services"
                             "footer footer";
        grid-template-rows: 300px 120px 800px 120px;
        grid-template-columns: 1fr    3fr; 
    }
}

